.home-main-container{
  padding: 40px 160px;
}
.greetings-container{
  display: flex;
  flex-direction: row;
}
.greetings-text{
  padding-left: 20px;
}
.quick-action{
  margin-top: 40px;
}
.services-container{
  display: flex;
  flex-direction: row;
}
.service-card{
  width: 260px;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 15px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 20px 20px;
}
.service-card p{
  color: #aca7a7;
}
.progress-container {
  display: flex;
  margin-top: 35px;
  margin-left: -100px;
}

.stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
}

.progress-icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-icon {
  font-size: 24px;
}

.progress-label {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}

/* Status styles */
.progress-completed {
  background-color: #4caf50;
  color: white;
}

.progress-active {
  background-color: orange;
  color: white;
}

.progress-inactive {
  background-color: #e0e0e0;
  color: #888;
}

/* Line styles */
.progress-line {
  position: absolute;
  top: 20px;
  right: -50%;
  width: 100%;
  height: 4px;
  z-index: -1;
}

.progress-line-completed {
  background-color: #4caf50;
}

.progress-line-inactive {
  background-color: #e0e0e0;
}

.days-vehicle{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.circle{
  background-color: #ffffff;
  padding: 30px 30px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 25px;
  width: 700px;
  display: flex;
  gap: 25px;
}

.vehicle-overview{
  background-color: #ffffff;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 25px;
  width: 350px;
  padding: 30px 40px;
  margin-right: 75px;
}
.vehicle-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.vehicle-row {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.label {
  color: #888;
  font-size: 16px;
}

.value {
  margin: 0;
    font-weight: 500;
}
.quick-action {
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 16px;
}
.quick-action {
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 16px;
}

.offers-table {
  width: 94%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-radius: 10px;
}

.offers-table th,
.offers-table td {
  padding: 12px;
  text-align: left;
}

.button {
  padding: 8px 16px;
  background-color: #1094E6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: darkblue;
}
